*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: bisque;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    align-items: center;
    width:99vw;
    height: 4rem;
    margin: auto;
}
#header p{
    font-size: 2rem;
}