*{
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar{
        display: none;
    }
}
#header{
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    align-items: center;
    width:99vw;
    height: 4rem;
    margin: auto;
    position: sticky;
    top: 0rem;
}
#header p{
    font-size: 2rem;
}
#head{
    background-color: lightblue;
    position: sticky;
    top: 4.1rem;
    /* border-bottom: 2px solid black; */
}
#head th{
    height: 2rem;
    text-transform: uppercase;
}
#body td{
    text-align: center;
    height: 2rem;
    
}
#body td a{
    text-decoration: none;
    color: rgb(48, 48, 192);
    font-size: 1.1rem;
}

#body tr:nth-child(odd){
    background-color: beige;
}
#body tr:nth-child(even){
    background-color: white;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
}
#dis{
    margin-left: 1rem;
    margin-right: 1rem;
}
#searchbox{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
#searchbox input{
    border: none;
    border-radius: 10px;
    width: 17rem;
    padding-left: 1rem;
}
#searchTagBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}